.section {
    overflow: hidden;
    /*解决溢出和外边距塌陷问题*/
}

/*第一屏*/
.large {
    width: 50%;
    height: 50%;
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25),
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    background: url('../images/code.jpg') no-repeat;
    display: none;
    cursor: move;
}

.small {
    display: block;
}

.avatar {
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 100px;
    overflow: hidden;
    border: 5px solid #fff;
    box-shadow: 0 0 20px #fff;
    display: none;
}

.first.current .avatar {
    display: block;
    animation: bounceInLeft 1s,
    shake 4s infinite ease 1s;
}

/*搜索框*/

.search {
    width: 400px;
    height: 40px;
    border: 1px solid #fff;
    position: absolute;
    right: 100px;
    top: 100px;
    -webkit-transform: translate(800px);
    -moz-transform: translate(800px);
    -ms-transform: translate(800px);
    -o-transform: translate(800px);
    transform: translate(800px);
    border-radius: 10px;
    box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
}

.first.current .search {
    animation: lightSpeedIn 2s forwards;
}

.search .username {
    /*width: 300px;*/
    height: 40px;
    width: 0px;
    padding-left: 20px;
    font: 400  15px/40px "microsoft yahei";
    color: #fff;
    letter-spacing: 8px;
    overflow: hidden;
}
.first.current .username {
   animation:  changeWidth 4s steps(8) 1s forwards;
}
/*搜索按钮*/
.search .search-btn{
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #fff;
    right: 20px;
    top: 50%;
    margin-top: -9px;
    box-shadow: 0 0 2px #fff, 0 0 2px #fff inset;
    animation: shake 2s 8s;
}
.search .search-btn::before{
    position: absolute;
    content: "";
    width: 2px;
    height: 10px;
    border: 1px solid #fff;
    -webkit-transform: translate(20px, 12px) rotate(-56deg);
    -moz-transform: translate(20px, 12px) rotate(-56deg);
    -ms-transform: translate(20px, 12px) rotate(-56deg);
    -o-transform: translate(20px, 12px) rotate(-56deg);
    transform: translate(20px, 12px) rotate(-56deg);
    box-shadow: 0 0 2px #fff, 0 0 2px #fff inset;
}

/* 鼠标手动画*/
.search .icon-mouse-pointer {
    font-size: 50px;
    color: #ffffff;
    position: absolute;
    right:-50px;
    bottom: -150px;
    opacity: 0;
}
.first.current .icon-mouse-pointer{
    animation: moveMouse 3s forwards 5s;
}

/*检索结果*/
.result{
    width: 400px;
    height: 400px;
    border: 1px solid #fff;
    position: absolute;
    right: 100px;
    top: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
}
.result::before{
    width: 80px;
    height: 80px;
    font-size: 80px;
    line-height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    transform-origin: left  top;

}
.first.current .result::before{
    -webkit-animation: Loading 3s forwards 8s ;
    -o-animation: Loading 3s forwards 8s ;
    animation: Loading 3s forwards 8s ;
}