<div class="card widget">
  <div class="card-content">
    <div class="menu">
      <h3 class="menu-label">
        站长推荐
      </h3>
      <figure class="image">
        <img class="ad" src="<%= get_config_from_obj(widget, 'adImg') %>" alt="站长推荐" />
      </figure>
    </div>
  </div>
</div>
